@model BudgetCare.Models.tbl_User

@{
    Layout = null;
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <title>Login</title>
    <link href="~/stylesheet/LoginStyleSheet.css" rel="stylesheet" />
     
</head>
<body>
    @Html.Raw(TempData["Login"])


    <div class="loginLayout">

        @using (Html.BeginForm("Index", "Login", FormMethod.Post))
        {
            <h1 class="text-center" style="font-family: 'Hammersmith One', sans-serif; letter-spacing: 1px; "><b>Budget</b><i>Care</i></h1>


            <br />
            <div class="form-group">
                <div class="col-md-12">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>

                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Your Email" } })
                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <br />




            <br /><br />
            <div class="form-group">
                <div class="col-md-12">

                    <div class="input-group">

                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>

                        <input id="password" class="form-control " placeholder="Enter Your Password" name="password" type="password" value="" />

                    </div>
                </div>
            </div>
            <br /><br />

            <div class="form-group">
                <div class="col-md-2">

                    <input type="submit" class="btn btn-primary" value="Login" />


                </div>

            </div><br /><br />

            <div class="row">
                <div class="col-md-1"> </div>
                <div class="col-md-7"> @Html.ActionLink("Forget Password", "Index", "forget", new { htmlAttributes = new { @class = "for" } })</div>


                @Html.ActionLink("Create Account", "Index", "forget", new { htmlAttributes = new { @class = "col-md-offset-7" } })
            </div>



        }


    </div>
</body>
</html>
